# Analytics Vidhya tutorial on Data Manipulation using Pandas
#### http://www.analyticsvidhya.com/blog/2016/01/12-pandas-techniques-python-data-manipulation/

In [1]:
pwd

u'D:\\GIT_REPOS\\DataScienceIntensive\\source code'

In [3]:
import os
os.chdir("D:/SONALI - DATA/00000 La Vita Nuova/DATA SCIENCE/Analytics Vidhya/Loan Prediction")

In [4]:
pwd

u'D:\\SONALI - DATA\\00000 La Vita Nuova\\DATA SCIENCE\\Analytics Vidhya\\Loan Prediction'

In [9]:
import numpy as np
import pandas as pd

In [11]:
loan_data = pd.read_csv("./data/train_u6lujuX.csv", index_col="Loan_ID")

In [13]:
loan_data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
Loan_ID,,,,,,,,,,,,
LP001002,Male,No,0,Graduate,No,5849,0,NaN,360,1,Urban,Y
LP001003,Male,Yes,1,Graduate,No,4583,1508,128,360,1,Rural,N
LP001005,Male,Yes,0,Graduate,Yes,3000,0,66,360,1,Urban,Y
LP001006,Male,Yes,0,Not Graduate,No,2583,2358,120,360,1,Urban,Y
LP001008,Male,No,0,Graduate,No,6000,0,141,360,1,Urban,Y

#### boolean indexing 
#### all women who are not graduates and received a loan

In [15]:
loan_data.loc[(loan_data["Gender"]=="Female") & (loan_data["Education"]=="Not Graduate") & (loan_data["Loan_Status"]=="Y"), ["Gender", "Education", "Loan_Status"]]

          Gender     Education Loan_Status
Loan_ID
LP001155  Female  Not Graduate           Y
LP001669  Female  Not Graduate           Y
LP001692  Female  Not Graduate           Y
LP001908  Female  Not Graduate           Y
LP002300  Female  Not Graduate           Y
LP002314  Female  Not Graduate           Y
LP002407  Female  Not Graduate           Y
LP002489  Female  Not Graduate           Y
LP002502  Female  Not Graduate           Y
LP002534  Female  Not Graduate           Y
LP002582  Female  Not Graduate           Y
LP002731  Female  Not Graduate           Y
LP002757  Female  Not Graduate           Y
LP002917  Female  Not Graduate           Y

In [16]:
#Create a new function:
def num_missing(x):
    return sum(x.isnull())

In [17]:
#Applying per column
print "Missing values per column"
print loan_data.apply(num_missing, axis=0) #axis=0 -> apply column-wise / for each column

Missing values per column
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [19]:
#Applying per row
print "Missing values per row"
print loan_data.apply(num_missing, axis=1).head() #axis=1 -> apply row-wise / for each row

Missing values per row
Loan_ID
LP001002    1
LP001003    0
LP001005    0
LP001006    0
LP001008    0
dtype: int64

In [32]:
#first we import a function to determine the mode
from scipy.stats import mode
mode(loan_data['Gender'])[0][0]

'Male'

In [34]:
#Impute the values:
loan_data['Gender'].fillna(mode(loan_data['Gender'])[0][0], inplace=True)
loan_data['Married'].fillna(mode(loan_data['Married'])[0][0], inplace=True)
loan_data['Self_Employed'].fillna(mode(loan_data['Self_Employed'])[0][0], inplace=True)

In [35]:
#Now check the #missing values again to confirm:
print loan_data.apply(num_missing, axis=0)

Gender                0
Married               0
Dependents           15
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [36]:
#Determine pivot table
impute_grps = loan_data.pivot_table(values=["LoanAmount"], index=["Gender","Married","Self_Employed"], aggfunc=np.mean)
print impute_grps

                              LoanAmount
Gender Married Self_Employed
Female No      No             114.691176
               Yes            125.800000
       Yes     No             134.222222
               Yes            282.250000
Male   No      No             129.936937
               Yes            180.588235
       Yes     No             153.882736
               Yes            169.395833