In [21]:
import numpy as np
import pandas as pd

In [1]:
x = [["a","b"], ["c"]]

In [2]:
[j for i in x for j in i]

['a', 'b', 'c']

In [3]:
y = [{"code":"1", "name":"name1"}, {"code":"2", "name":"name2"}]

In [4]:
y

[{'code': '1', 'name': 'name1'}, {'code': '2', 'name': 'name2'}]

In [5]:
[j for i in y for j in i]

['code', 'name', 'code', 'name']

In [6]:
from itertools import chain

In [11]:
x = [["a","b"], ["c"]]
y = list(chain(x))

In [12]:
x

[['a', 'b'], ['c']]

In [13]:
y

[['a', 'b'], ['c']]

In [14]:
from operator import itemgetter
from itertools import groupby

In [15]:
d=[{'event': 0, 'voltage': 1, 'time': 0},
    {'event': 0, 'voltage': 2, 'time': 1},
    {'event': 1, 'voltage': 1, 'time': 2},
    {'event': 1, 'voltage': 2, 'time': 3},
    {'event': 2, 'voltage': 1, 'time': 4},
    {'event': 2, 'voltage': 2, 'time': 5}]

In [16]:
d

[{'event': 0, 'time': 0, 'voltage': 1},
 {'event': 0, 'time': 1, 'voltage': 2},
 {'event': 1, 'time': 2, 'voltage': 1},
 {'event': 1, 'time': 3, 'voltage': 2},
 {'event': 2, 'time': 4, 'voltage': 1},
 {'event': 2, 'time': 5, 'voltage': 2}]

In [17]:
groupby(sorted(d, key=itemgetter('event')), key=itemgetter('event'))

In [19]:
for x in _:
    print (x[0], list(x[1]))

0 [{'voltage': 1, 'event': 0, 'time': 0}, {'voltage': 2, 'event': 0, 'time': 1}]
1 [{'voltage': 1, 'event': 1, 'time': 2}, {'voltage': 2, 'event': 1, 'time': 3}]
2 [{'voltage': 1, 'event': 2, 'time': 4}, {'voltage': 2, 'event': 2, 'time': 5}]

In [ ]:
import collections
a = [1,1,1,1,2,2,2,2,3,3,4,5,5]
counter=collections.Counter(a)
print(counter)
# Counter({1: 4, 2: 4, 3: 2, 5: 2, 4: 1})
print(counter.values())
# [4, 4, 2, 1, 2]
print(counter.keys())
# [1, 2, 3, 4, 5]
print(counter.most_common(3))
# [(1, 4), (2, 4), (3, 2)]

In [22]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
   ...:                           'foo', 'bar', 'foo', 'foo'],
   ...:                    'B' : ['one', 'one', 'two', 'three',
   ...:                           'two', 'two', 'one', 'three'],
   ...:                    'C' : np.random.randn(8),
   ...:                    'D' : np.random.randn(8)})
   ...:

In [23]:
df

     A      B         C         D
0  foo    one  0.131846  0.392970
1  bar    one  1.819024 -0.904550
2  foo    two  1.180232 -0.397000
3  bar  three -0.362484 -0.816043
4  foo    two -0.379005  0.117364
5  bar    two -0.801300  0.314829
6  foo    one  0.202411 -1.749309
7  foo  three -1.031107 -0.763199

In [24]:
grouped = df.groupby('A')

In [28]:
grouped.count()

     B  C  D
A
bar  3  3  3
foo  5  5  5

In [29]:
grouped.first()

       B         C        D
A
bar  one  1.819024 -0.90455
foo  one  0.131846  0.39297

In [30]:
grouped.last()

         B         C         D
A
bar    two -0.801300  0.314829
foo  three -1.031107 -0.763199

In [33]:
grouped.head(20)

     A      B         C         D
0  foo    one  0.131846  0.392970
1  bar    one  1.819024 -0.904550
2  foo    two  1.180232 -0.397000
3  bar  three -0.362484 -0.816043
4  foo    two -0.379005  0.117364
5  bar    two -0.801300  0.314829
6  foo    one  0.202411 -1.749309
7  foo  three -1.031107 -0.763199

In [36]:
grouped.A.head()

0    foo
1    bar
2    foo
3    bar
4    foo
5    bar
6    foo
7    foo
Name: A, dtype: object