## The purpose of this code snippet is to scale the feature data to get these data ready for use in a regression model for revenue projection.

In [1]:
import numpy as np
import pandas as pd

In [2]:
retailData = pd.read_csv('./data/WA_Retail-SalesMarketing_-ProfitCost.csv')

In [3]:
retailData.head(2)

,Year,Product_line,Product_type,Product,Order_method_type,Retailer_country,Revenue,Planned_revenue,Product_cost,Quantity,Unit_cost,Unit_price,Gross_profit,Unit_sale_price
0,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,United States,437477.15,344917.4931,169471.4212,66385,2.552857,6.59,268005.7288,5.195714
1,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Canada,14313.48,13444.6800,6298.8000,2172,2.900000,6.59,8014.6800,6.190000

### select a single product for normalization

In [4]:
retailData1 = retailData[(retailData['Product_line']=='Personal Accessories') & (retailData['Product_type']=='Watches') \
           & (retailData['Product'].str.contains('Mountain Man Analog'))]

In [5]:
retailData1.head(2)

,Year,Product_line,Product_type,Product,Order_method_type,Retailer_country,Revenue,Planned_revenue,Product_cost,Quantity,Unit_cost,Unit_price,Gross_profit,Unit_sale_price
2556,2004,Personal Accessories,Watches,Mountain Man Analog,Telephone,United States,157002.56,150781.98670,96360,3212,30,48.88,60642.56,46.943333
2557,2004,Personal Accessories,Watches,Mountain Man Analog,Telephone,Mexico,17254.64,16620.41667,10590,353,30,48.88,6664.64,47.083333