## The purpose of this code snippet is to scale the feature data to get these data ready for use in a regression model for revenue projection.

In [1]:
import numpy as np
import pandas as pd

In [2]:
retailData = pd.read_csv('./data/WA_Retail-SalesMarketing_-ProfitCost.csv')

In [3]:
retailData.head(2)

,Year,Product_line,Product_type,Product,Order_method_type,Retailer_country,Revenue,Planned_revenue,Product_cost,Quantity,Unit_cost,Unit_price,Gross_profit,Unit_sale_price
0,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,United States,437477.15,344917.4931,169471.4212,66385,2.552857,6.59,268005.7288,5.195714
1,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Canada,14313.48,13444.6800,6298.8000,2172,2.900000,6.59,8014.6800,6.190000

### select a single product for normalization

In [29]:
#retailData1 = retailData[(retailData['Product_line']=='Personal Accessories') & (retailData['Product_type']=='Watches') \
#           & (retailData['Product'].str.contains('Mountain Man Analog'))]
retailData1 = retailData[(retailData['Retailer_country']=='United States') & 
                         (retailData['Product_line']=='Personal Accessories') & 
                         (retailData['Product_type']=='Watches') & 
                         (retailData['Product']=='Mountain Man Analog')]

In [30]:
retailData1.head(2)

,Year,Product_line,Product_type,Product,Order_method_type,Retailer_country,Revenue,Planned_revenue,Product_cost,Quantity,Unit_cost,Unit_price,Gross_profit,Unit_sale_price
2556,2004,Personal Accessories,Watches,Mountain Man Analog,Telephone,United States,157002.56,150781.9867,96360,3212,30,48.88,60642.56,46.943333
2568,2004,Personal Accessories,Watches,Mountain Man Analog,Sales visit,United States,23902.32,22943.8800,14670,489,30,48.88,9232.32,46.920000

In [31]:
len(retailData1)

17

In [6]:
from sklearn import preprocessing

In [32]:
X1 = retailData1['Revenue']
X1.reshape(-1,1)
scalerRevenue = scaler = preprocessing.StandardScaler().fit(X1)

C:\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:583: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

In [33]:
scalerRevenue

StandardScaler(copy=True, with_mean=True, with_std=True)

In [34]:
scalerRevenue.mean_

139417.26117647055

In [36]:
scalerRevenue.scale_

165658.25919044792

In [37]:
scalerRevenue.transform(X1)

C:\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:646: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

array([ 0.10615407, -0.69730867, -0.01541282, -0.79202463, -0.79615554,
       -0.77402565,  0.55612862, -0.48545181,  1.77946925, -0.8041223 ,
       -0.70143959, -0.79025424,  0.06130415,  2.69033576, -0.76605888,
        0.31565042,  1.11321186])

In [38]:
X2 = retailData1['Quantity']
X2.reshape(-1,1)
scalerQuantity = scaler = preprocessing.StandardScaler().fit(X2)

C:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:420: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:583: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

In [39]:
scalerQuantity

StandardScaler(copy=True, with_mean=True, with_std=True)

In [40]:
scalerQuantity.mean_

2852.2352941176468

In [41]:
scalerQuantity.scale_

3389.0805890026168